body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffff;
    width: 380px;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
    text-align: center;
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin: 15px auto 6px;
    font-weight: 600;
    width: 90%;
}

input {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 15px;
}

button {
    display: block;
    width: 90%;
    margin: 25px auto 0;
    padding: 14px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}


button:hover {
    background: #5a67d8;
}

.result {
    margin-top: 25px;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.result .bmi {
    font-size: 32px;
    font-weight: bold;
    margin: 5px 0;
}

form {
    margin-top: 20px;
}

.green { background: #48bb78; }
.blue { background: #4299e1; }
.orange { background: #ed8936; }
.red { background: #f56565; }
